asgiref==3.7.2
Django==5.0.1
django-mssql-backend==2.8.1
djangorestframework==3.14.0
mssql-django==1.4
mysqlclient==2.2.1
pymssql==2.2.11
pyodbc==5.0.1
python-dotenv==1.0.1
pytz==2023.3.post1
sqlparse==0.4.4
